In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# https://stackoverflow.com/questions/34478398/import-local-function-from-a-module-housed-in-another-directory-with-relative-im
# This bit of code allows me to import modules for adjacent folders:

import os
import sys
import pandas as pd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import sqlite3
cnx = sqlite3.connect('../data.db')
import numpy as np

## Linking Lobbyists to Ministerial Diaries

In [60]:
query = """
select name, job_title, trading_name, legal_name, jurisdiction 
from (
	select lfe.lobbyists_name name, lfe.job_title, lf.trading_name, lf.legal_name, 'Federal' jurisdiction 
	from lobbyist_federal_employee lfe 
		inner join lobbyist_federal lf 
			on lf.abn  = lfe.organisations_abn 
			and lf.abn is not null
			and lfe.organisations_abn is not null
	union
	select lne.name, lne.postion, ln2.trading_name, ln2.name, 'NSW'   
	from lobbyist_nsw_employee lne 
		inner join lobbyist_nsw ln2 
			on ln2.id = lne.lobbyist_nsw_id 
	union
	select lqe.name, lqe.position, lq.trading_name, lq.name, 'QLD'   
	from lobbyist_qld_employee lqe 
		inner join lobbyist_qld lq 
			on lqe.lobbyist_qld_id = lq.id 
	union
	select lse.employee_name, lse.employee_position, ls.trading_name, ls.business_name, 'SA'    
	from lobbyist_sa_employee lse 
		inner join lobbyist_sa ls 
			on ls.abn  = lse.lobbyist_abn 
			and ls.abn is not null
			and lse.lobbyist_abn is not null
) e
group by name, job_title, trading_name, legal_name, jurisdiction 
"""

def _clean_employee_name(name):
    name = name.lower()
    name = name.replace('  ', ' ').strip()
	
    return name
clean_employee_name = np.vectorize(_clean_employee_name)

all_employees_df = pd.read_sql_query(query, cnx)
all_employees_df["name_cleaned"] = clean_employee_name(all_employees_df["name"])
all_employees_df["name_cleaned"] = all_employees_df['name_cleaned'].str.replace(r'[^\w\s]+', '')
employee_names = all_employees_df["name_cleaned"].unique()
employee_names

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:40: FutureWarning: The default value of regex will change from True to False in a future version.

array(['aaron parnell', 'adam howard', 'adam facer', ..., 'ian dalgliesh',
       'kate pembroke', 'the hon robert borbidge ao'], dtype=object)

In [87]:
query = """
select * from ministerial_diary md 
"""
ministerial_diary_df = pd.read_sql(query, cnx)
ministerial_diary_df

import regex as re

employee_associations = []
def _link_to_lobbyist_employee_name(org_ind, id, use_regex = False):
    
    evalute = lambda n : n in org_ind
    if use_regex:
        evalute = lambda n : re.match('[\s|^]' + n + '[\s|$]', org_ind)

    found = [en for en in employee_names if evalute(en)]
    [employee_associations.append({ 'ministerial_diary_id': id, 'lobbyist_employee_name': name, 'organisation_individual': org_ind}) for name in found]
    return len(found) > 0

link_to_lobbyist_employee_name = np.vectorize(_link_to_lobbyist_employee_name)
ministerial_diary_df["organisation_individual"] = ministerial_diary_df["organisation_individual"].str.replace(r'[^\w\s]+', '')
ministerial_diary_df["organisation_individual"] = ministerial_diary_df["organisation_individual"].str.lower()

ministerial_diary_df["link"] = link_to_lobbyist_employee_name(ministerial_diary_df["organisation_individual"], ministerial_diary_df["id"])
ministerial_diary_df[ministerial_diary_df["link"] == True]

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning: The default value of regex will change from True to False in a future version.

,id,date,portfolio,organisation_individual,purpose_of_meeting,jurisdiction,import_file_name,link
240,241,17/06/2021,Minister for Sport Multiculturalism Seniors an...,brian tyson managing partner newgate,Introductory meeting \nDisclosure Summary,NSW,Minister-for-Sport-Multiculturalism-Seniors-an...,True
601,602,7/11/2014,Minister for Local Government Disclosure Summa...,minister katrina hodgkinson,Local government reform,NSW,Minister-for-Local-Government-Disclosure-Summa...,True
912,913,15/10/2021,Minister for Finance and Small Business 1 21,tim robertson advisory,"Commercial and Retail Leasing Regulation, COVI...",NSW,Minister-for-Finance-and-Small-Business-1-Octo...,True
1049,1050,7/11/2016,Minister for Roads Maritime and Freight Disclo...,michael johnson mp,Singleton Bypass,NSW,Minister-for-Roads-Maritime-and-Freight-Disclo...,True
1109,1110,07/07/2020,Minister for Sport Multiculturalism Seniors an...,brian tyson managing partner newgate,Sport matters,NSW,Minister-for-Sport-Multiculturalism-Seniors-an...,True
...,...,...,...,...,...,...,...,...
110412,110413,24 March 2021,mark ryan,dave whimpey karly abbott,Parliamentary Friends of Surf \nLife Saving Event,QLD_pdfs,mark-ryan_march2021.pdf,True
111457,111458,8 June 2021,shannon fentiman,alistair nicholas consulting,Meeting,QLD_pdfs,shannon-fentiman_june2021.pdf,True
111827,111828,28 June 2021,cameron dick,rachel drew holding redlich david quinn holding,Ministerial \nPortfolio Matters,QLD_pdfs,cameron-dick_june2021.pdf,True
111834,111835,28 June 2021,cameron dick,unitywater re partners david nelson director,Ministerial \nPortfolio Matters,QLD_pdfs,cameron-dick_june2021.pdf,True
116342,116343,14 September 2021,mick de brenni,chris wade and gerard paynter,Meeting,QLD_pdfs,mick-de-brenni_september2021.pdf,True

In [91]:
employee_associations_staging = []
evaluate = lambda n, o : re.match('[\s|^]' + n + '[\s|$]', o)
for a in employee_associations:
    a['match'] = evaluate(a['lobbyist_employee_name'], a['organisation_individual'])


pd.DataFrame(employee_associations)

,ministerial_diary_id,lobbyist_employee_name,organisation_individual,match
0,241,brian tyson,brian tyson managing partner newgate,None
1,602,katrina hodgkinson,minister katrina hodgkinson,None
2,913,tim robertson,tim robertson advisory,None
3,1050,michael johnson,michael johnson mp,None
4,1110,brian tyson,brian tyson managing partner newgate,None
...,...,...,...,...
307,110413,karly abbott,dave whimpey karly abbott,None
308,111458,alistair nicholas,alistair nicholas consulting,None
309,111828,david quinn,rachel drew holding redlich david quinn holding,None
310,111835,david nelson,unitywater re partners david nelson director,None
311,116343,gerard paynter,chris wade and gerard paynter,None

In [105]:
test = 'dave whimpey karly abbott'
name = 'karly abbott'
pattern = '[\s|^]karly abbott[\s|$]'
re.findall(pattern, test)

[]

OK so not getting any matches on the first name last name of the lobbyist employees, so we will try searching for the owners and the name of the lobbyist company itself, see if we get any hits that way

In [79]:
query = """
select lqo.name, lq.name business_name, lq.trading_name , 'QLD' jurisdiction
from lobbyist_qld_owner lqo 
	inner join lobbyist_qld lq 
		on lqo.lobbyist_qld_id  = lq.id 
union
select lno.name, ln2.name, ln2.trading_name, 'NSW' jurisdiction 
from lobbyist_nsw_owner lno 
	inner join lobbyist_nsw ln2 
		on lno.lobbyist_nsw_id = ln2.id 
"""



all_owners_df = pd.read_sql(query, cnx)
all_owners_df['name_cleaned'] = clean_employee_name(all_owners_df['name'])
all_owners_df['name_cleaned'] = all_owners_df['name_cleaned'].str.replace(r'[^\w\s]+', '')

owner_names = all_owners_df['name_cleaned'].unique()
owner_associations = []

def _link_to_lobbyist_owner_name(org_ind, id):
	found = [o for o in owner_names if o in org_ind]
	[owner_associations.append({ 'ministerial_diary_id': id, 'lobbyist_owner_name': name, 'organisation_individual': org_ind }) for name in found]
	return len(found) > 0


link_to_lobbyist_owner_name = np.vectorize(_link_to_lobbyist_owner_name)

ministerial_diary_df["owner_link"] = link_to_lobbyist_owner_name(ministerial_diary_df["organisation_individual"], ministerial_diary_df["id"])
ministerial_diary_df[ministerial_diary_df["owner_link"] == True]

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  app.launch_new_instance()

,id,date,portfolio,organisation_individual,purpose_of_meeting,jurisdiction,import_file_name,link,owner_link
423,424,21/03/2017,Minister for Roads Maritime and Freight Disclo...,fulton and hogan construction proprietary limi...,Berry bypass and Princess Highway projects,NSW,Minister-for-Roads-Maritime-and-Freight-Disclo...,False,True
912,913,15/10/2021,Minister for Finance and Small Business 1 21,tim robertson advisory,"Commercial and Retail Leasing Regulation, COVI...",NSW,Minister-for-Finance-and-Small-Business-1-Octo...,True,True
1527,1528,08/02/2021,Minister for Skills and Tertiary Education,stephen cartwright,TAFE matters,NSW,Minister-for-Skills-and-Tertiary-Education-Jan...,True,True
1938,1939,25/05/2015,Minister for Planning Disclosure Summary,morris iemma,Social Housing policy forum,NSW,Minister-for-Planning-Disclosure-Summary-April...,True,True
2061,2062,10/11/2015,Minister for Mental Health Medical Research Wo...,womens domestic violence court advocacy servic...,"WDVCAS funding, Safer Pathways and the Domesti...",NSW,Minister-for-Mental-Health-Medical-Research-Wo...,False,True
...,...,...,...,...,...,...,...,...,...
112832,112833,8 March 2022,shannon fentiman,bernie hogan ceo queensland hotels,Queensland Hotels \nAssociation Hotels \nSympo...,QLD_pdfs,shannon-fentiman_march2022.pdf,False,True
114880,114881,22 March 2022,cameron dick,clubs queensland invited guests with departmen...,Awards for \nExcellence gala \ndinner,QLD_pdfs,cameron-dick_march2022.pdf,False,True
115082,115083,18 February 2021,dianne farmer,bernie hogan chief executive,Video Meeting,QLD_pdfs,dianne-farmer_february2021.pdf,False,True
116410,116411,22 September 2021,mick de brenni,ian mackay steve burgess and,Meeting,QLD_pdfs,mick-de-brenni_september2021.pdf,False,True
117449,117450,7 October 2021,yvette dath,pharmacy mackay staff senior,Portfolio Matters,QLD_pdfs,yvette-dath_october2021.pdf,False,True

In [81]:
pd.DataFrame(owner_associations)

,ministerial_diary_id,lobbyist_owner_name,organisation_individual
0,424,hogan c,fulton and hogan construction proprietary limi...
1,913,tim robertson,tim robertson advisory
2,1528,stephen cartwright,stephen cartwright
3,1939,morris iemma,morris iemma
4,2062,court a,womens domestic violence court advocacy servic...
...,...,...,...
207,112833,hogan c,bernie hogan ceo queensland hotels
208,114881,clubs queensland,clubs queensland invited guests with departmen...
209,115083,hogan c,bernie hogan chief executive
210,116411,kay st,ian mackay steve burgess and
211,117450,kay st,pharmacy mackay staff senior

No links to the owners either

## Identifying Mining companies in the client lists

In [8]:

query = """
select 
	lfc.clients_name client_name
	, lfc.organisations_abn lobbyist_abn
	, lf.trading_name lobbyist_trading_name 
	, 'Federal' jurisdiction
from lobbyist_federal_client lfc
	inner join lobbyist_federal lf 
		on lf.abn = lfc.organisations_abn 
		and lf.abn is not null
union
select 
	lnc.name
	, ln2.abn
	, ln2.trading_name 
	, 'NSW' jurisdiction  
from lobbyist_nsw_client lnc 
	inner join lobbyist_nsw ln2 
		on lnc.lobbyist_nsw_id = ln2.id
union
select 
	lqc.name
	, lq.abn
	, lq.trading_name 
	, 'QLD' jurisdiction  
from lobbyist_qld_client lqc 
 	inner join lobbyist_qld lq 
 		on lqc.lobbyist_qld_id = lq.id 
 union
 select 
 	lsc.client_name
 	, lsc.lobbyist_abn
 	, ls.trading_name
 	, 'SA' jurisdiction  
 from lobbyist_sa_client lsc
 	inner join lobbyist_sa ls 
 		on ls.abn = lsc.lobbyist_abn 
"""


all_clients_df = pd.read_sql_query(query, cnx)
# all_clients_df = all_clients_df[all_clients_df['lobbyist_abn'].isna() == False]
all_clients_df['client_name'] = all_clients_df['client_name'].str.replace('\t', '')
all_clients_df['lobbyist_abn'] = all_clients_df['lobbyist_abn'].astype(str)
all_clients_df['lobbyist_abn'] = all_clients_df['lobbyist_abn'].str.replace('ABN', '')
all_clients_df['lobbyist_abn'] = all_clients_df['lobbyist_abn'].str.replace('ACN', '')
all_clients_df['lobbyist_abn'] = all_clients_df['lobbyist_abn'].str.split(',').str[0]
all_clients_df['lobbyist_abn'] = all_clients_df['lobbyist_abn'].str.split('.').str[0]
all_clients_df['lobbyist_abn'] = pd.to_numeric(all_clients_df['lobbyist_abn']).astype('Int64')

I have manually built up a list of mining companies from a couple of websites that came up in a google search for mining companies operating in Australia, which came up with the following links, this is not an exhaustive list however it is somewhere to start:

 - http://iminco.net/queensland-mining-companies/
 - http://iminco.net/mining-companies-australia/

In [11]:
mining_data_df = pd.read_csv('../NSW_Mining_data.csv')
# http://iminco.net/queensland-mining-companies/
mining_companies = [
    'Adani Mining',
    'Anglo Coal',
    'BHP Billiton',
    'Caledon Coal',
    'Carabella Resources',
    'Citigold',
    'Ensham Resources',
    'Ernest Henry Mining',
    'Jellinbah Group',
    'New Hope Coal',
    'Newlands Coal',
    'Oaky Creek Coal',
    'Opal Horizon',
    'Peabody Energy',
    'Perilya Mines',
    'Qcoal',
    'Rio Tinto',
    'Rio Tinto',
    'Yancoal',

    # http://iminco.net/mining-companies-australia/

    'Bechtel',
    'Cuesta Coal',
    'Fortescue Metals',
    'GLOUCESTER COAL',
    'GVK Industries',
    'Hancock Prospecting',
    'Tinkler',
    'Newmont Corporation',
    'OZ MINERALS' ,
    'Xstrata'
]
# this works but will need to be more efficent
mining_companies_df = mining_data_df[['company', 'title_no']].groupby('company').mean().reset_index()
remove_words = ['pty', 'ltd', 'proprietary', 'limited', 'company', '.', 'no1']

mining_companies_df['company_cleaned'] = mining_companies_df['company'].str.lower()
for word in remove_words:
    mining_companies_df['company_cleaned'] = mining_companies_df['company_cleaned'].str.replace(word, '')
mining_companies_df['company_cleaned'] = mining_companies_df['company_cleaned'].str.strip()
[mining_companies.append(c) for c in mining_companies_df['company_cleaned']] 

associations_found = []
def _is_mining_company(client_name):
    found = [name for name in mining_companies if name.lower() in client_name.lower()]
    if len(found) > 0:
        associations_found.append({ "name": client_name, "found": found})
    return len(found) > 0

is_mining_company = np.vectorize(_is_mining_company)
mining_lobbyists_df = all_clients_df[is_mining_company(all_clients_df['client_name'])]
mining_lobbyists_df

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:43: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,client_name,lobbyist_abn,lobbyist_trading_name,jurisdiction
1032,BECHTEL AUSTRALIA PROPRIETARY LIMITED,38162366056,SEC Newgate Pty Limited,NSW
1049,BENGALLA MINING COMPANY PTY LIMITED,20126507211,Richardson Coutts Pty Ltd,NSW
1059,BHP Billiton Group,50082123822,GRACosway Pty Ltd,Federal
1060,BHP Billiton Iron Ore Pty Ltd,56131702755,GRA Partners Pty Ltd,Federal
1061,BHP Billiton Ltd,50056165827,John Connolly & Partners,NSW
1134,BORAL CEMENT LIMITED,65140067287,Barton Deakin Pty Limited,NSW
1135,BORAL LIMITED,51069838222,The Fifth Estate,NSW
1136,BORAL RECYCLING PTY LIMITED,92715851492,Chikarovski & Associates Pty Ltd,NSW
1137,BORAL RESOURCES (QLD) PTY. LIMITED,51069838222,The Fifth Estate,NSW
1279,Bengalla Mining Company,20126507211,Richardson Coutts,Federal
1302,Bickham Coal,30127240359,Repute Communications & Associates Pty Ltd,NSW
1693,CSR BUILDING PRODUCTS LIMITED,99153936719,Cornerstone Group,NSW
1949,Cobalt Blue Holdings Ltd,65140067287,Barton Deakin Pty Limited,NSW
2720,FORTESCUE METALS GROUP LTD,92603411650,Spring Street Advisory,NSW
2835,Fortescue Metals Group,92603411650,Spring Street Advisory,QLD
2836,Fortescue Metals Group Ltd,92603411650,Spring Street Advisory,SA
3065,Glencore Xstrata plc,26149964189,PremierState,NSW
3337,Hancock Prospecting Pty Ltd,50463070316,Anderson Solutions Trust,Federal
3338,Hancock Prospecting Pty Ltd,50463070316,PolicyWonks,QLD
3533,ILUKA RESOURCES LIMITED,23630677673,TG Public Affairs Pty Ltd,NSW
3632,Iluka Resources Limited,23630677673,TG Public Affairs,QLD
3633,Iluka Resources Limited,23630677673,TG Public Affairs,Federal
3889,KEPCO BYLONG AUSTRALIA PTY LTD,50082123822,Government Relations Australia Advisory Pty Ltd,NSW
4669,Muswellbrook Coal Company,50082123822,Government Relations Australia Advisory Pty Ltd,NSW
4891,Newcastle Coal Infrastructure Group,85095461957,FordComm Consulting Pty Ltd,NSW
4893,Newcrest Mining Limited,50082123822,Government Relations Australia Advisory Pty Ltd,NSW
5152,PEABODY ENERGY AUSTRALIA COAL PTY LIMITED,26149964189,PremierState,NSW
5153,PEABODY ENERGY AUSTRALIA COAL PTY LIMITED,71619450841,PremierNational,NSW
5154,PEABODY ENERGY AUSTRALIA PTY LTD,50082123822,Government Relations Australia Advisory Pty Ltd,NSW
5836,Rio Tinto,14634403115,DPG Advisory Solutions,NSW
5837,Rio Tinto,14634403115,DPG Advisory Solutions Pty Ltd,Federal
5838,Rio Tinto,14634403115,DPG Advisory Solutions Pty Ltd,QLD
5839,Rio Tinto,14634403115,DPG Advisory Solutions Pty Ltd,SA
5840,Rio Tinto,64964952044,Govstrat,Federal
5841,Rio Tinto,80617178453,Scott Mitchell and Partners,Federal
5842,Rio Tinto Ltd,64964952044,Govstrat Pty Ltd,QLD
5843,Rio Tinto Ltd,66619642858,CGM Communications Pty Ltd,QLD
7455,WOLLONGONG COAL LIMITED,14634403115,DPG Advisory Solutions,NSW
7470,WYONG COAL PTY LIMITED,26149964189,PremierState,NSW
7471,WYONG COAL PTY LIMITED,71619450841,PremierNational,NSW

In [12]:
associations_found

[{'name': 'BECHTEL AUSTRALIA PROPRIETARY LIMITED', 'found': ['Bechtel']},
 {'name': 'BENGALLA MINING COMPANY PTY LIMITED', 'found': ['bengalla mining']},
 {'name': 'BHP Billiton Group ', 'found': ['BHP Billiton']},
 {'name': 'BHP Billiton Iron Ore Pty Ltd ', 'found': ['BHP Billiton']},
 {'name': 'BHP Billiton Ltd', 'found': ['BHP Billiton']},
 {'name': 'BORAL CEMENT LIMITED', 'found': ['boral cement', 'boral']},
 {'name': 'BORAL LIMITED', 'found': ['boral']},
 {'name': 'BORAL RECYCLING PTY LIMITED', 'found': ['boral']},
 {'name': 'BORAL RESOURCES (QLD) PTY. LIMITED', 'found': ['boral']},
 {'name': 'Bengalla Mining Company', 'found': ['bengalla mining']},
 {'name': 'Bickham Coal', 'found': ['bickham coal']},
 {'name': 'CSR BUILDING PRODUCTS LIMITED', 'found': ['csr building products']},
 {'name': 'Cobalt Blue Holdings Ltd', 'found': ['cobalt blue holdings']},
 {'name': 'FORTESCUE METALS GROUP LTD', 'found': ['Fortescue Metals']},
 {'name': 'Fortescue Metals Group', 'found': ['Fortescue Metals']},
 {'name': 'Fortescue Metals Group Ltd', 'found': ['Fortescue Metals']},
 {'name': 'Glencore Xstrata plc', 'found': ['Xstrata']},
 {'name': 'Hancock Prospecting Pty Ltd', 'found': ['Hancock Prospecting']},
 {'name': 'Hancock Prospecting Pty Ltd', 'found': ['Hancock Prospecting']},
 {'name': 'ILUKA RESOURCES LIMITED', 'found': ['iluka resources']},
 {'name': 'Iluka Resources Limited', 'found': ['iluka resources']},
 {'name': 'Iluka Resources Limited', 'found': ['iluka resources']},
 {'name': 'KEPCO BYLONG AUSTRALIA PTY LTD',
  'found': ['kepco bylong australia']},
 {'name': 'Muswellbrook Coal Company', 'found': ['muswellbrook coal']},
 {'name': 'Newcastle Coal Infrastructure Group', 'found': ['newcastle coal']},
 {'name': 'Newcrest Mining Limited', 'found': ['newcrest mining']},
 {'name': 'PEABODY ENERGY AUSTRALIA COAL PTY LIMITED',
  'found': ['Peabody Energy']},
 {'name': 'PEABODY ENERGY AUSTRALIA COAL PTY LIMITED',
  'found': ['Peabody Energy']},
 {'name': 'PEABODY ENERGY AUSTRALIA PTY LTD', 'found': ['Peabody Energy']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto Ltd', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'Rio Tinto Ltd', 'found': ['Rio Tinto', 'Rio Tinto']},
 {'name': 'WOLLONGONG COAL LIMITED', 'found': ['wollongong coal']},
 {'name': 'WYONG COAL PTY LIMITED', 'found': ['wyong coal']},
 {'name': 'WYONG COAL PTY LIMITED', 'found': ['wyong coal']}]

## Identifyin mining companies in the political donations data

In [43]:
associations_found = []
political_donations_df = pd.read_csv("../NSW_Donations.csv")
remove_words = ['pty', 'ltd', 'proprietary', 'limited', 'company', '.', 'no1']
political_donations_df.columns = [c.strip().lower().replace(' ', '_').replace('/', '_') for c in political_donations_df.columns]
political_donations_df["clean_donor_name"] = political_donations_df["donor_name"]
for word in remove_words:
        political_donations_df["clean_donor_name"]  = political_donations_df["clean_donor_name"] .str.replace(word, '')

political_donations_df["amount_or_value_made"] = political_donations_df["amount_or_value_made"].str.extract('(\d*\.\d*|\d*,\d*\.\d*)', expand=False)
political_donations_df["amount_or_value_made"] = pd.to_numeric(political_donations_df["amount_or_value_made"].str.replace(',', ''))

political_donations_df = political_donations_df[~political_donations_df['date_donation_made'].str.startswith("Total Valid Amount", na=False)]

mining_donations_df = political_donations_df[is_mining_company(political_donations_df["clean_donor_name"])]
mining_donations_df.groupby(['donor_name', 'disclosure_period', 'recipient_name']).agg({ 'amount_or_value_made': np.sum }).sort_values('amount_or_value_made', ascending = False)

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

                                                                                                                           amount_or_value_made
donor_name                                      disclosure_period      recipient_name
Newcastle Coal Infrastructure Group Pty Ltd     1/07/2010 - 30/06/2011 Liberal Party of Australia New South Wales Divi...               50000.0
Newcastle Coal Infrastructure Group Pty Limited 1/07/2008 - 31/12/2008 Australian Labor Party (NSW Branch)                              50000.0
Boral Limited                                   1/07/2008 - 31/12/2008 Australian Labor Party (NSW Branch)                              22000.0
                                                                       Millenium Forum                                                  19250.0
Xstrata Coal Pty Limited                        1/07/2008 - 31/12/2008 Australian Labor Party (NSW Branch)                              12550.0
HTT Huntley Heritage Pty Ltd                    1/07/2008 - 31/12/2008 Australian Labor Party (NSW Branch)                              12150.0
AUS GOLD MINING GROUP PTY LIMITED               1/07/2016 - 30/06/2017 The Liberal Party of Australia New South Wales ...                5888.0
Hillgrove Mines Pty Ltd                         1/07/2013 - 30/06/2014 The Liberal Party of Australia New South Wales ...                5500.0
Australian Native Landscapes Pty Ltd            1/07/2010 - 30/06/2011 Stokes, Robert                                                    5000.0
The Austral Brick Co P/L                        1/07/2008 - 31/12/2008 Liberal Party of Australia New South Wales Divi...                5000.0
Tinkler, Nathan                                 1/07/2010 - 30/06/2011 National Party of Australia - NSW                                 5000.0
Enhance Place Pty Ltd                           1/07/2009 - 31/12/2009 National Party of Australia - NSW                                 2610.0
Peabody Energy Australia Pty Ltd                1/07/2010 - 30/06/2011 National Party of Australia - NSW                                 2300.0
Donaldson Coal Pty Limited                      1/07/2008 - 31/12/2008 National Party of Australia - NSW                                 2250.0
HTT Huntley Heritage                            1/01/2010 - 30/06/2010 Hay, Noreen                                                       2000.0
Enhance Place Pty Ltd                           1/07/2010 - 30/06/2011 National Party of Australia - NSW                                 2000.0
Bickham Coal Company Pty Ltd                    1/07/2009 - 31/12/2009 National Party of Australia - NSW                                 1500.0
Tinkler Group Holdings Administration Pty Ltd   1/07/2009 - 31/12/2009 National Party of Australia - NSW                                 1250.0
AUSTRALIAN NATIVE LANDSCAPES                    1/07/2014 - 30/06/2015 The Liberal Party of Australia New South Wales ...                1150.0
Habib, Elizabeth                                1/07/2012 - 30/06/2013 Liberal Party of Australia New South Wales Divi...                1100.0
Enhance Place Pty Ltd                           1/07/2010 - 30/06/2011 Australian Labor Party (NSW Branch)                               1000.0
Boral Limited                                   1/07/2008 - 31/12/2008 Liberal Party of Australia New South Wales Divi...                1000.0
                                                                       Progressive Business (VIC)                                         632.5

Now one name appears in the above list which I was not expecting and initally thought was a mistake "Australian Native Landscapes Pty Ltd", but if we double check this against the mining leases data they are in there, looks like they are doing some mining on minirals, most likely for producing furtilisers I guess.

In [19]:
mining_data_df[mining_data_df["holder"].str.strip() == 'AUSTRALIAN NATIVE LANDSCAPES PTY LTD'][['holder', 'minerals']]

,holder,minerals
1550,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Agricultural Lime, Cobalt, Copper, Gold, Lead,..."
1618,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Cobalt, Copper, Gold, Lead, Limestone, Nickel,..."
1631,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Cobalt, Copper, Gold, Lead, Limestone, Marble,..."
1632,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Cobalt, Copper, Gold, Lead, Limestone, Marble,..."
1774,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Agricultural Lime, Cobalt, Copper, Gold, Lead,..."
2222,AUSTRALIAN NATIVE LANDSCAPES PTY LTD ...,"Copper, Gold, Lead, Nickel, Silver, Zinc"

In [14]:
associations_found

[{'name': 'AUS GOLD MINING GROUP PTY LIMITED',
  'found': ['aus gold mining group']},
 {'name': 'AUS GOLD MINING GROUP PTY LIMITED',
  'found': ['aus gold mining group']},
 {'name': 'AUSTRALIAN NATIVE LANDSCAPES',
  'found': ['australian native landscapes']},
 {'name': 'AUSTRALIAN NATIVE LANDSCAPES',
  'found': ['australian native landscapes']},
 {'name': 'AUSTRALIAN NATIVE LANDSCAPES',
  'found': ['australian native landscapes']},
 {'name': 'Australian Native Landscapes Pty Ltd',
  'found': ['australian native landscapes']},
 {'name': 'Australian Native Landscapes Pty Ltd',
  'found': ['australian native landscapes']},
 {'name': 'Bickham Coal Company Pty Ltd', 'found': ['bickham coal']},
 {'name': 'Bickham Coal Company Pty Ltd', 'found': ['bickham coal']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Limited', 'found': ['boral']},
 {'name': 'Boral Shared Business Services', 'found': ['boral']},
 {'name': 'Donaldson Coal Pty Limited', 'found': ['donaldson coal']},
 {'name': 'Donaldson Coal Pty Limited', 'found': ['donaldson coal']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Enhance Place Pty Ltd', 'found': ['enhance place']},
 {'name': 'Habib, Elizabeth', 'found': ['abib']},
 {'name': 'Habib, Elizabeth', 'found': ['abib']},
 {'name': 'Hillgrove Mines Pty Ltd', 'found': ['hillgrove mines']},
 {'name': 'Hillgrove Mines Pty Ltd', 'found': ['hillgrove mines']},
 {'name': 'HTT Huntley Heritage', 'found': ['htt huntley heritage']},
 {'name': 'HTT Huntley Heritage', 'found': ['htt huntley heritage']},
 {'name': 'HTT Huntley Heritage Pty Ltd', 'found': ['htt huntley heritage']},
 {'name': 'HTT Huntley Heritage Pty Ltd', 'found': ['htt huntley heritage']},
 {'name': 'HTT Huntley Heritage Pty Ltd', 'found': ['htt huntley heritage']},
 {'name': 'HTT Huntley Heritage Pty Ltd', 'found': ['htt huntley heritage']},
 {'name': 'Newcastle Coal Infrastructure Group Pty Limited',
  'found': ['newcastle coal']},
 {'name': 'Newcastle Coal Infrastructure Group Pty Limited',
  'found': ['newcastle coal']},
 {'name': 'Newcastle Coal Infrastructure Group Pty Ltd',
  'found': ['newcastle coal']},
 {'name': 'Newcastle Coal Infrastructure Group Pty Ltd',
  'found': ['newcastle coal']},
 {'name': 'Peabody Energy Australia Pty Ltd', 'found': ['Peabody Energy']},
 {'name': 'Peabody Energy Australia Pty Ltd', 'found': ['Peabody Energy']},
 {'name': 'The Austral Brick Co P/L', 'found': ['the austral brick co']},
 {'name': 'The Austral Brick Co P/L', 'found': ['the austral brick co']},
 {'name': 'Tinkler Group Holdings Administration Pty Ltd',
  'found': ['Tinkler']},
 {'name': 'Tinkler Group Holdings Administration Pty Ltd',
  'found': ['Tinkler']},
 {'name': 'Tinkler, Nathan', 'found': ['Tinkler']},
 {'name': 'Tinkler, Nathan', 'found': ['Tinkler']},
 {'name': 'Xstrata Coal Pty Limited', 'found': ['Xstrata']},
 {'name': 'Xstrata Coal Pty Limited', 'found': ['Xstrata']},
 {'name': 'Xstrata Coal Pty Limited', 'found': ['Xstrata']},
 {'name': 'Xstrata Coal Pty Limited', 'found': ['Xstrata']}]

## Taking a look at the mining data

In [3]:
mining_data_df = pd.read_csv('../NSW_Mining_data.csv')
mining_data_df

,FID,tas_id,title,holder,company,grant_date,expiry_date,last_renewed,groups,minerals,act_year,title_code,title_no,resource,title_area,operation,location_distance,geom
0,bl_title.21965 ...,21965,AL7,ZEOLITE AUSTRALIA PTY LIMITED ...,ZEOLITE AUSTRALIA PTY LIMITED,2002-11-29,2022-11-29,05 Mar 2018,",",Zeolites,1992,AL,7,MINERALS,129 HA ...,ASSESSMENT ...,About 16.44km NNW of QUIRINDI,"MULTIPOLYGON (((150.60065178 -31.38046373, 150..."
1,bl_title.22943 ...,22943,AL9,MANGOOLA COAL OPERATIONS PTY LIMITED ...,MANGOOLA COAL OPERATIONS PTY LIMITED,2004-11-08,2019-11-07,Renewal Sought,",",Coal,1992,AL,9,COAL,3399 HA ...,ASSESSMENT ...,About 10.52km N of DENMAN,"MULTIPOLYGON (((150.65458708 -32.25688138, 150..."
2,bl_title.23677 ...,23677,AL12,GENDERS MINING PTY LTD ...,GENDERS MINING PTY LTD,2006-07-25,2020-05-29,Renewal Sought,",",Coal,1992,AL,12,COAL,3476 HA ...,ASSESSMENT ...,About 18.96km S of KANDOS,"MULTIPOLYGON (((149.93033094 -33.01510068, 149..."
3,bl_title.25597 ...,25597,AL17,ZEOLITE AUSTRALIA PTY LIMITED ...,ZEOLITE AUSTRALIA PTY LIMITED,2009-05-12,2020-05-12,Renewal Sought,",",Zeolites,1992,AL,17,MINERALS,2.2 KM2 ...,ASSESSMENT ...,About 15.21km NW of QUIRINDI,"MULTIPOLYGON (((150.575 -31.38333333, 150.5833..."
4,bl_title.25773 ...,25773,AL19,MUSWELLBROOK COAL COMPANY LTD ...,MUSWELLBROOK COAL COMPANY LTD,2009-09-09,2026-09-09,06 Oct 2021,",",Coal,1992,AL,19,COAL,8100 HA ...,ASSESSMENT ...,About 13.36km WNW of MUSWELLBROOK,"MULTIPOLYGON (((150.8315378 -32.14574443, 150...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,bl_title.25116 ...,25116,PPL6,AGL UPSTREAM INVESTMENTS PTY LIMITED ...,AGL UPSTREAM INVESTMENTS PTY LIMITED,2008-05-29,2029-05-29,29 May 2008,",",Petroleum,1991,PPL,6,PETROLEUM,725.8 HA ...,MINING ...,About 6.73km NE of PICTON,"MULTIPOLYGON (((150.65641325 -34.12782266, 150..."
2324,bl_title.1864 ...,1864,S(C&PL)L5,EOE (NO.75) PTY LTD ...,EOE (NO.75) PTY LTD,1971-12-09,2030-12-31,28 Sep 2016,",","Bismuth, Copper, Lead, Tin, Wolfram, Zinc",1969,S(C&PL)L,5,MINERALS,1922 M2 ...,MINING ...,About 55km NNE of NARRANDERA,"MULTIPOLYGON (((146.85759695 -34.3240461, 146...."
2325,bl_title.2082 ...,2082,S(C&PL)L20,TARAGO OPERATIONS PTY LTD ...,TARAGO OPERATIONS PTY LTD,1973-11-16,2029-11-16,21 Jan 2015,",","Antimony, Arsenic, Barite, Bismuth, Cadmium, C...",1969,S(C&PL)L,20,MINERALS,2368 HA ...,MINING ...,About 36.77km SSW of GOULBURN,"MULTIPOLYGON (((149.5433077 -35.04341454, 149...."
2326,bl_title.1405 ...,1405,SL409,WHITE ROCK (MTC) PTY LTD ...,WHITE ROCK (MTC) PTY LTD,1967-09-08,2030-12-08,14 May 2020,",","Gold, Silver",1906,SL,409,MINERALS,47.45 HA ...,MINING ...,About 2.40km ENE of DRAKE,"MULTIPOLYGON (((152.3895586 -28.90690893, 152...."
2327,bl_title.2179 ...,2179,SL664,GRAYMONT (EXCELSIOR) PTY LTD ...,GRAYMONT (EXCELSIOR) PTY LTD,1974-03-27,2034-10-31,31 Oct 2014,",","Agricultural Lime, Limestone",1906,SL,664,MINERALS,35.41 HA ...,MINING ...,About 22km S of KANDOS,"MULTIPOLYGON (((149.97854024 -33.0676349, 149...."

In [6]:
mining_companies_df = mining_data_df[['company', 'title_no']].groupby('company').mean().reset_index()
remove_words = ['pty', 'ltd', 'proprietary', 'limited', 'company', '.', 'no1']

mining_companies_df['company_cleaned'] = mining_companies_df['company'].str.lower()
for word in remove_words:
    mining_companies_df['company_cleaned'] = mining_companies_df['company_cleaned'].str.replace(word, '')
mining_companies_df['company_cleaned'] = mining_companies_df['company_cleaned'].str.strip()


[print(c) for c in mining_companies_df['company_cleaned']]

3e steel
460 resources
acn 076 313 034
aj baker (wingham)
abdul-rahman, ali
abib
abterra australia
abx1
abx2
acn 646 866 319
acros minerals
advanced precision agriculture
agl macquarie
agl upstream investments
agricultural equity investments
aic delamerian
aic mines
albury gold
alkane resources
ammos resource management
anchor resources
andrew goldman excavations
angel jade
angel mining group
annetts, kenneth
anthony edwards
apmc holdings
aqc dartbrook
arc right
archdall investments
argent (kempfield)
argent minerals
arnold, richard
arrow gold
arumpo bentonite
aston coal 2
au exploration
auricula mines
aurum metals
aus gold mining group
aussam geotechnicalservices
austar coal mine
austin metals
austral quarries
australian coalbed methane
australian consolidated gold holdings
australian dolomite
australian gemstone resources
australian gold and copper
australian minefield
australian native landscapes
australian silver mines
australian strategic materials (holdings)
australis aurum
awati resources
bacchus resources
balmain minerals
balranald gypsum
bamford, allan
bangles gold
bargo collieries
barlow, michael john
barnes, jeanette mary
barrier resources
bauer, angela
bc exploration
beach patrol developments
belamanda resources
belararox
bengalla mining
bha no 1
bickham coal
big island mining
black dragon energy (aus)
bloomfield collieries
blue jacket mining
boggabri coal
boral bricks (nsw)
boral cement
boral
boulder mining
bounty oil & gas nl
bow island resources
bowdens silver
broken hill cobalt project
broken hill operations
broula king joint venture
buidl
bulga coal management
bulla park metals
bullseye gold
bundarra resources
bungy resources
burrendong resources
burtorn silver
byass, adrian paul
c29 metals
cabonne shire council
cadia holdings
callaghans creek holdings
campbell, glenn norman
cape clear (lachlan)
carbozorb
castle mountain enterprises
ceal
centennial airly
centennial inglenook
centennial mandalong
centennial mannering
centennial munmorah
centennial myuna
centennial newstan
centennial springvale
central west scientific
challenger mines
charbon coal
chung, tong hong
cim duralie
cim stratford
claystone masonry
clean power resources
climax australia
cmoc mining
coal & allied operations
coalex
coalworks (vickery south)
coalworks
cobalt blue holdings
cobalt magnetic
cobalt prospecting
cobar management
cobar minerals
cobar operations
col'doro mining
colossus metals
columbine resources
comet ridge
conrad resources
construction forestry maritime mining and energy union
coolabah metals
copeton diamond mines
cornfields
cosmos exploration
cowarra metals
creek resources
crown gold resources
csr building products
cullarin metals
cumnock  colliery
cuprum aurum
curlewis coal & coke
cwq
dawson, kenneth
day, craig jeremy
dealy, gary john
deep ore discovery
defiance resources
dellworth
delta gold
dendrobium coal
destiny resources
dg metal resources
diamantes, james andrew
dig ore
dives inventa
dolo diamonds
donaldson coal
downes, jonathan charles
dronvisa
dwyer, kevin patrick
eaglehawk geological consulting
earthmoving & demolition services
eastern metals
elsmore resources
emc metals australia
emmerson resources
endeavour coal
endeavour minerals
english, peter warren
enhance place
eoe (no75)
eq resources
evandale minerals
evolution mining (cowal)
ex9
extract minerals
ezy lime
finlayson, william john robert
first nations minerals & energy
fisher resources
flemington mining operations
fmg resources
forge minerals
forth resources
fortius mines
frazier, ronald allen
french, clifford
fristad resources
fua resources
genders mining
gibsonvale alluvials
gilmore metals
glencore newpac
glendell tenements
glenella quarry
gloucester coal
gm resources
godolphin tenements
gold and copper resources
golden cross operations
golden globe resources
golden plateau
golden reef enterprises
goldreef resources
goonbri coal
gosling creek
grasmont exploration
graymont (excelsior)
graymont (nsw)
great southern energy
great southern precious metals
great western minerals
green, brett william
greencoast environmental rehabilitation
grenfell gold
gum ridge mining
hallett, bruce leslie
harb quarries
hartley valley coal
haverford holdings
hawsons iron
hera resources
hewett, robert patrick
hi-quality quarry (nsw)
hi-quality waste management
high fidelity capital
high purity resources
hillgrove mines
hoare(x), stephen roy
holland, malcolm donald
houston, louise anne
htt huntley heritage
hughes, christopher john
hughes, john
hughes, william trafford
hunter valley energy coal
hutchinson, gerard vincent
hv coking coal
idylway venture
illawarra coal holdings
iluka resources
indigenous energy group
intra eastern land
iolanthe minerals
ironbark zinc
ivanhoe coal
j & b mainey
jam metal resources
jandew
jandew
jarvis minerals
jodama
joe taylor sand
kaiser reef
kali metals
kandos collieries
kandos development corporation
kapitany, tamas
karari resources
kelly(x), gordon kenneth
kepco bylong australia
kilkie
kincora copper australia
kiresources
knox minerals
kooky resources
kores australia
krakatoa australia
kuczynski(x), mietek leon
kummerow, hans-werner
kyt ip two
l g civil
lachlan copper
lachlan metals
lachlan minerals
lachlan orogen gold
lachlan resources
larmon
lasseter gold
latin resources
le, viet hoang
legacy minerals
lewis, lorraine anne
lfb resources nl
liddell tenements
lightning ridge miners' association
lionsville gold
lm2 metals
loch lilly
locksley resources
lode resources
longreach no 1
loyal coal
lucknow gold
luddenham operations
mni mining
macapika
mach energy australia
macquarie marble and lime
madsen, erik bach
magnet exploration
mallee quarries
mangoola coal operations
manuka resources
marble aggregates holdings
marble craft & granite supplies
marcus, wade jeffrey
marshall, brian gregory
marshall, bruce
maxwell ventures (management)
mcclatchie mining
mcclatchie, christine elisabeth
mcm resources (nsw)
meta minerals
metallurgical refining & development
metromix
metropolitan collieries
mineral hill
mining and energy group
minto glen pastoral co
mitre mining corporation
modeling resources
molyneux rush
monash coal
montana drafting & design
montana resources
monte christo diamonds
montoro roofing
monzodiorite
monzonite metals
moolarben coal mines
morello earthmoving
morello, ron
mount thorley coal loading
mount thorley operations
mr resources
mt arthur coal
mt boppy resources
mt gilmore resources
mt owen
mt owen tenements
munro geological services
munta salt
murdoch, brian william
murray basin titanium
muswellbrook coal
myer, paul douglas
namoi mining
namoi valley bricks
narrabri coal
nbh resources
new age resources
new base metals
new south resources
new south tin
newcastle coal
newcrest mining
newcrest operations
newmont exploration holdings
newmont exploration
newnes-kaolin
newtech exploration
nico young
nielsen, bent heinrich deceased
nimrod resources
north american gold corporation
north central gold
nsw base metals
nymagee resources
oberon gold
oceanic coal australia
ochre resources
okapi resources
omya australia
orange minerals (nsw)
orca exploration
oriental star international
orla exploration
oxley exploration
oxley resources
oz gold group
p & d whyte
p s & g f forwood
pgm management
pacific state metals
panda mining
peak gold mines
peak minerals
peel (csp)
peel far west
peel mining
peregrine mineral sands
perilya broken hill
perry, wayne lawson
peters, jamie
pgh bricks and pavers
pinnacle mines
platina resources
plutonic
polymet resources
premier energy resources
prendergast, david charles
primelime (nsw)
prospectore
providence gold and minerals
ptr resources
qld commodities
quartz resources
quondong minerals
rk murdoch
raines, stephen john
ravensworth operations
red mountain mining
renison coal
resource pacific
resources city
revolution mining
ridgelands coal resources
rigent
right resources
right solutions australia
rimfire pacific mining
riverston tin
rti mining
rynne, david colin
rz resources
sa exploration
sampson, darren
sams reef mining
san antonio exploration
sandfire resources
santos nsw (hillgrove)
santos nsw
sapphire resources
saturn metals
saxonvale coal
scorpio resources
secretary of regional nsw
sherratt, frederick lawrence
shoalhaven coal
shree minerals
shriver nominees
sibelco australia
silver city minerals
silver orchid
silver plains resources
siouville
sitegoal
smith, paul thurstan
smythe, stanley john
snowmist
soc1
sofala minerals
sonshel
southern precious metals corp
sozo resources
spencer hamilton
springdale gold
spur hill no2
srl ops
st barbara
stannum
stone, jason douglas
stoneco
strategic energy resources
sugec resources
sultan resources
sunny silver
sunrise energy exploration
swanbrook mining
syndicate minerals
taggart, athol john
tahmoor coal
talisman b
tarago exploration
tarago operations
taronga mines
tastex
teangi d z
telluric explorations 2
tgc resources
the austral brick co
the crown in right of the state of new south wales acting through the executive director, geological survey of new south wales, regional nsw
the wallerawang collieries
thompson, david charles
thomson resources
tinone resources australia
tomingley gold operations
tooloom creek
torrens gold exploration
torrington minerals
total iron
total minerals
treo resources
triausmin
trifunovic, louis
triple twenty
tritton resources
trk resources
tronox mining australia
tsc exploration
tuckers gold
tuena resources
ulan coal mines
ulan quarry products
underwood, christopher bruce
union gold au
united collieries
united stone industries
velma dinkley
vertex minerals
vinkovic, vladimir peter
volcan australia corporation
walker quarries
walsh, denis michael
wambo coal
wandoo tenements
ward, riley
warkworth mining
waterford, gary wayne
wattle resources
webbs resources
weddarla
werris creek
western silver
western wood capital
westlime
white hill resources
white mining (nsw)
white rock (mtc)
white, rhonda winnifred
whitehaven coal mining
whitlow, graham leslie
whybaton
wiesenberger, gerhard
wildcat gold
willis, peter
wilpinjong coal
wollongong coal
wongawilli coal
wyong coal
wythes, phillip robinson
yeltara prospecting and mining co
young mining
zeolite australia
zintoba

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [82]:
mining_data_df['grant_date'] = pd.to_datetime(mining_data_df['grant_date'])
mining_data_df['expiry_date'] = pd.to_datetime(mining_data_df['expiry_date'])
mining_data_df['grant_length_days'] = mining_data_df['expiry_date'] - mining_data_df['grant_date']
mining_data_df.sort_values(by = ['grant_length_days'], ascending=False)[['company', 'grant_length_days']]

                            company grant_length_days
2175   AUSTAR COAL MINE PTY LIMITED        44926 days
2178   AUSTAR COAL MINE PTY LIMITED        44857 days
2186   AUSTAR COAL MINE PTY LIMITED        44560 days
208    AUSTAR COAL MINE PTY LIMITED        44560 days
2154   AUSTAR COAL MINE PTY LIMITED        44195 days
...                             ...               ...
1307   BOW ISLAND RESOURCES PTY LTD          365 days
1366  HIGH FIDELITY CAPITAL PTY LTD          365 days
1357         WESTERN SILVER PTY LTD          365 days
1340       NIMROD RESOURCES LIMITED          365 days
1401         WESTERN SILVER PTY LTD          365 days

[2328 rows x 2 columns]

In [11]:
lobbyists_df = pd.read_excel('../Lobbyist Export.xls', 'Lobbyists')
lobbyists_df.columns = lobbyists_df.columns.str.replace(' ', '_')
lobbyists_df.columns = lobbyists_df.columns.str.lower()
lobbyists_df.abn = pd.to_numeric(lobbyists_df.abn.str.replace(' ', ''))
lobbyists_df

,business_name,trading_name,abn,web_address,address,suburb,state,post_code,name_of_owner(s)
0,Advanced Outcomes,Advanced Outcomes,59719341477,NaN,Redacted,Redacted,SA,5006,Robert Underdown
1,Alistair Nicholas Consulting Pty Ltd,Alistair Nicholas Consulting Pty Ltd,81655939852,https://www.alistairnicholas.com/,"Suite 2301, Forum West, 3 Herbert Street",St Leonards,NSW,2065,Alistair John Nicholas
2,Alkar Pty Ltd,Allan King Consultancy,16007797793,NaN,PO Box 4144,MANUKA,ACT,2603,Allan King\nKaren King
3,Anacta Strategies Pty Ltd,Anacta Strategies,64633978677,Anacta.com.au,GPO Box 1349,Brisbane,QLD,4000,Melissa Thomas
4,PolicyWonks,Anderson Solutions Trust,50463070316,NaN,42 Balowrie Street\nHamilton QLD 4007\nAustralia,Hamilton,QLD,4007,Kirby Anderson Dianne Anderson
...,...,...,...,...,...,...,...,...,...
95,Wells Haslem Mayhew Strategic Public Affairs P...,Wells Haslem Mayhew Strategic Public Affairs P...,52159456685,whmspa.com.au,"Level 2, 65 Walker Street",NORTH SYDNEY,NSW,2060,Philip John Wells\nBenjamin Haslem\nAlexandra ...
96,Wendy Campana Consulting Pty Ltd,Wendy Campana Consulting Pty Ltd,53649896775,NaN,Redacted,Redacted,SA,0,Wendy Campana
97,Wilkinson Butler Pty Ltd,Wilkinson Butler,95164204111,www.wilkinsonbutler.com,Level 26\n1-7 Bligh Street\n,SYDNEY,NSW,2000,Andrew Butler\nPeter Wilkinson
98,Willard Public Affairs Pty Limited,Willard Public Affairs,17165851856,www.willard.com.au,"Level 13, 84 Pitt Street",SYDNEY,NSW,2000,Willard Consulting Pty Ltd ATF David Miles Fam...
99,Woodhill Communication Pty Ltd,Woodhill Communication,62613694189,NaN,PO Box 6197,PYMBLE,NSW,2073,Stephen Mark Arthur Woodhill\nMartine Anne New...

In [15]:
employees_df = pd.read_excel('../Lobbyist Export.xls', 'Employees')
employees_df.columns = employees_df.columns.str.replace(' ', '_')
employees_df.columns = employees_df.columns.str.lower()
employees_df.lobbyist_abn = pd.to_numeric(employees_df.lobbyist_abn.str.replace(' ', ''))
employees_df = employees_df[[c for c in employees_df.columns if c not in ['lobbyist_business_name', 'lobbyist_trading_name']]]
employees_df

,lobbyist_abn,employee_type,employee_name,employee_position,employee_restriction,employee_start_date,employee_end_date
0,59719341477,Persons undertaking lobbying activities,Robert Underdown,Director,None,02/10/2018,NaN
1,81655939852,Persons undertaking lobbying activities,Alistair Nicholas,Director,None,06/07/2021,NaN
2,16007797793,Persons undertaking lobbying activities,Allan King,Director,None,06/04/2017,NaN
3,64633978677,Persons undertaking lobbying activities,Evan Moorhead,Director,None,26/04/2022,NaN
4,64633978677,Persons undertaking lobbying activities,Liam O'Regan,Senior Associate,None,26/04/2022,NaN
...,...,...,...,...,...,...,...
480,17165851856,Persons undertaking lobbying activities,Matthew Moran,Principal,None,23/06/2016,NaN
481,17165851856,Persons undertaking lobbying activities,Andrew Plumley,Director,None,23/06/2016,NaN
482,17165851856,Persons undertaking lobbying activities,Mary Andrew,Consultant,None,23/06/2016,13/07/2018
483,17165851856,Persons undertaking lobbying activities,Rosemary Apps,Office Manager,None,23/06/2016,09/01/2018
484,62613694189,Persons undertaking lobbying activities,Stephen Woodhill,Director,None,17/05/2016,NaN

In [30]:
clients_df = pd.read_excel('../Lobbyist Export.xls', 'Clients')
clients_df.columns = clients_df.columns.str.replace(' ', '_')
clients_df.columns = clients_df.columns.str.lower()
clients_df.lobbyist_abn = pd.to_numeric(clients_df.lobbyist_abn.str.replace(' ', ''))
clients_df = clients_df[[c for c in clients_df.columns if c not in ['lobbyist_business_name', 'lobbyist_trading_name']]]
clients_df

FileNotFoundError: [Errno 2] No such file or directory: '../Lobbyist Export.xls'

In [45]:
import uuid
uuid.uuid1()
import numpy as np

In [57]:
organisations_df = pd.read_excel('../Downloadable Lobbyist Register.xlsx', sheet_name='Organisations', header=7)
organisations_df.columns = organisations_df.columns.str.replace(' ', '_')
organisations_df.columns = organisations_df.columns.str.lower()
organisations_df.columns = organisations_df.columns.str.replace(':', '')
organisations_df = organisations_df[[c for c in organisations_df.columns if c not in ['unnamed_0']]]
organisations_df.abn = pd.to_numeric(organisations_df.abn.str.replace(' ', ''))
organisations_df["deregistered_on"] = ''
organisations_df

,legal_name,trading_name,abn,registered_on,last_updated,deregistered_on
0,470 Bourke Pty Ltd.,NaN,3.463952e+10,10/02/2020,14/07/2022,
1,A D Evers-Buckland,A D EVERS-BUCKLAND,7.296332e+10,22/02/2010,12/07/2022,
2,ABAKUS Aircraft and Aviation Specialists Pty L...,ABAKUS Aircraft and Aviation Specialists Pty L...,8.006086e+10,22/11/2013,08/07/2022,
3,Advanced Outcomes,NaN,5.971934e+10,12/10/2018,15/07/2022,
4,Advico Strategies Pty Ltd,advico,5.265898e+10,08/07/2022,08/07/2022,
...,...,...,...,...,...,...
320,Wireless Frequency Studio.net,NaN,6.969155e+10,08/12/2020,15/07/2022,
321,Woodhill Communication Pty Ltd,Woodhill Communication,6.261369e+10,09/08/2016,14/07/2022,
322,Wurley Group Pty Ltd,Medtechnique Consulting,1.310039e+10,25/06/2014,08/07/2022,
323,York Park Group Pty Ltd,NaN,4.964278e+10,25/05/2021,14/02/2022,
324,Zennex Pty Ltd,Z Point,5.909413e+10,14/08/2017,27/07/2022,

In [58]:
organisations_df = pd.read_excel('../Downloadable Lobbyist Register.xlsx', sheet_name='Deregistered Organisations', header=7)
organisations_df.columns = organisations_df.columns.str.replace(' ', '_')
organisations_df.columns = organisations_df.columns.str.lower()
organisations_df.columns = organisations_df.columns.str.replace(':', '')
organisations_df = organisations_df[[c for c in organisations_df.columns if c not in ['unnamed_0']]]
organisations_df.abn = pd.to_numeric(organisations_df.abn.str.replace(' ', ''))
organisations_df['last_updated'] = organisations_df.deregistered_on
organisations_df

,legal_name,trading_name,abn,registered_on,deregistered_on,last_updated
0,Ace Communication Distributors,AceComms Australia,7.510376e+10,12/04/2022,01/08/2022,01/08/2022
1,Anna Katrina Nix Kumar,Dakota Advisory,5.739341e+10,05/08/2019,22/12/2021,22/12/2021
2,APS Networking Pty Ltd,APS Networking Pty Ltd,5.515039e+10,26/08/2011,15/07/2020,15/07/2020
3,Avania Pty Ltd,Avania Pty Ltd,1.207555e+10,10/06/2010,30/07/2021,30/07/2021
4,Aviops Pty Ltd acting as trustee for the McCor...,Aviops Pty Ltd,4.184315e+10,05/06/2008,25/06/2021,25/06/2021
...,...,...,...,...,...,...
81,The Trustee for THE WILTSHIRE FAMILY TRUST,Australian Medtech and Healthcare Advisory Pty...,2.643962e+10,28/08/2020,13/02/2021,13/02/2021
82,The Write Connection Pty Ltd,The Write Connection,5.507397e+10,14/09/2009,14/07/2022,14/07/2022
83,Time Advice Innovation,NaN,2.362514e+10,05/07/2019,22/07/2020,22/07/2020
84,Vigot & Co,Vigot and Company,9.478383e+10,26/11/2018,19/01/2021,19/01/2021
85,Wells OCallaghan Watterson Pty Ltd,Watterson Marketing Communications,9.163194e+10,05/04/2019,13/07/2021,13/07/2021

In [38]:
employees_df = pd.read_excel('../Downloadable Lobbyist Register.xlsx', sheet_name='Lobbyists', header=7)
employees_df.columns = employees_df.columns.str.replace(' ', '_')
employees_df.columns = employees_df.columns.str.lower()
employees_df.columns = employees_df.columns.str.replace(':', '')
employees_df.columns = employees_df.columns.str.replace("'", '')
employees_df.columns = employees_df.columns.str.replace('.', '')
employees_df = employees_df[[c for c in employees_df.columns if c not in ['unnamed_0']]]
employees_df.organisations_abn = pd.to_numeric(employees_df.organisations_abn.str.replace(' ', ''))
employees_df

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,lobbyists_name,job_title,former_govt_representative,previous_position,cessation_date,date_published,parent_organisation,organisations_abn
0,Adam Howard,Principal,Yes,Chief of Staff to Federal Cabinet Minister,01/07/2018,24/09/2018,GC Advisory Pty Ltd,6.062801e+10
1,Adam Howard,Managing Director,Yes,Chief of Staff to Minister for Defence Industry,01/07/2018,12/11/2019,PYNE AND PARTNERS PTY LTD,8.163475e+10
2,Adam Kilgour,Managing Director,Yes,Advisor,01/07/1993,11/02/2011,Diplomacy Pty Limited,1.714900e+10
3,Addison Ridge,Director,No,NaN,NaN,20/03/2020,Nexus APAC Pty Ltd,7.661566e+10
4,Adrian Bootes,Principal,Yes,Employed under the Public Service Act 1999,23/07/2021,17/11/2021,CR Consult Pty Ltd,2.560944e+10
...,...,...,...,...,...,...,...,...
667,William Wen Bo Wang,Director,No,NaN,NaN,26/04/2022,Pacific Advisory Group,8.365885e+10
668,Willie Rowe,Special Advisor,No,NaN,NaN,12/04/2022,Tarramot Pty Ltd,6.712619e+10
669,Winston Harris,Senior Consultant,No,NaN,NaN,06/09/2019,SAS Consulting Group Pty Ltd,3.313652e+10
670,Zackary McLennan,Director,No,NaN,NaN,21/10/2016,Lunik Pty Ltd,8.361518e+10
671,Zoe Arpin,Senior Associate,No,NaN,NaN,13/01/2021,Coode Holdings Pty Ltd,8.162365e+10

In [42]:
clients_df = pd.read_excel('../Downloadable Lobbyist Register.xlsx', sheet_name='Clients', header=7)
clients_df.columns = clients_df.columns.str.replace(' ', '_')
clients_df.columns = clients_df.columns.str.lower()
clients_df.columns = clients_df.columns.str.replace(':', '')
clients_df.columns = clients_df.columns.str.replace("'", '')
clients_df.columns = clients_df.columns.str.replace('.', '')
clients_df = clients_df[[c for c in clients_df.columns if c not in ['unnamed_0']]]
clients_df.organisations_abn = pd.to_numeric(clients_df.organisations_abn.str.replace(' ', ''))
clients_df

/home/mick/git/iLab2/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,clients_name,abn,date_published,parent_organisation,organisations_abn
0,Australian Theatre for Young People,24 000 816 704,14/12/2021,Hawker Britton Group Pty Ltd,7.910968e+10
1,Business News Pty Ltd,NaN,12/04/2019,Coode Holdings Pty Ltd,8.162365e+10
2,\tCOMMUNICATIONS ELECTRICAL ELECTRONIC ENERGY ...,46 878 660 276,15/07/2021,Essential Media Communications,4.807467e+10
3,\tGenesis Specialist Care Pty Ltd,51 111 943 161,16/05/2022,Nexus APAC Pty Ltd,7.661566e+10
4,\tPilbara Iron Company (Services) Pty Ltd,35 107 210 248,22/04/2021,CGM Communications Pty Ltd,6.661964e+10
...,...,...,...,...,...
2276,ZIPMONEY PAYMENTS PTY LTD,58164440993,02/08/2019,Sling & Stone Pty Ltd,8.714597e+10
2277,Zoetis Australia Pty Ltd,NaN,09/01/2014,Willard Public Affairs Pty Limited,1.716585e+10
2278,Zoonie Pty Ltd,21131554384,25/11/2019,Michael Megaw,3.891788e+10
2279,Zouki,NaN,08/07/2018,Media and Public Affairs Australia,4.962298e+10
2280,Zuru Incorporation,16502158478,01/02/2021,MR DARYL GORDON PILMORE,5.605486e+10

In [19]:
#!pip install selenium
# !pip install --upgrade pip
# !pip install sqlalchemy
# !pip install sqlalchemy_utils
# !pip install regex
# !pip install xlrd
!pip install openpyxl
# !ls ../

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 483.5 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [3]:
import sqlite3
cnx = sqlite3.connect('../data.db')
pd.read_sql_query("select * from lobbyist_nsw", cnx)

,id,name,abn,trading_name,on_watch_list,status,status_note,last_updated
0,1,Alistair Nicholas Consulting Pty Ltd,81655939852,Alistair Nicholas Consulting Pty Ltd,,Active,Status Note: Authorised to communicate and mee...,Details Last Updated: 10 Jan 2022 / 12:00
1,2,Alkar Pty Ltd,16007797793,Allan King Consultancy,,Active,Status Note: Authorised to communicate and mee...,Details Last Updated: 08 Dec 2016 / 12:00
2,3,Alpha Consult Pty Ltd,39612003460,Alpha Consult,,Active,Status Note: Authorised to communicate and mee...,Details Last Updated: 21 Jan 2022 / 12:00
3,4,ATLAS ALLIANCE PTY LTD,46606084913,Atlas Alliance,,Active,Status Note: Authorised to communicate and mee...,Details Last Updated: 02 Jun 2021 / 12:00
4,5,Australian Public Affairs Limited Partnership,20098705403,Australian Public Affairs,,Active,Status Note: Authorised to communicate and mee...,Details Last Updated: 25 Jul 2022 / 12:00
...,...,...,...,...,...,...,...,...
340,341,The Trustee for POWER FAMILY TRUST,64964952044,Govstrat,,Cancelled,Status Note: Registration cancelled on 31/10/2019,Details Last Updated: 31 Oct 2019 / 12:00
341,342,TransAdvantage Pty Ltd,37166803621,TransAdvantage,,Cancelled,Status Note: Registration cancelled on 20/12/2017,Details Last Updated: 18 Jun 2019 / 12:00
342,343,WABSLEY PTY LIMITED,27166543193,Watt Advocacy & Communications,,Cancelled,Status Note: Registration cancelled on 11/7/2017,Details Last Updated: 11 Jul 2017 / 12:00
343,344,Woodhill Communication Pty Ltd,62613694189,Woodhill Communication Pty Ltd,,Cancelled,Status Note: Registration cancelled on 11/7/2017,Details Last Updated: 08 Aug 2018 / 12:00
344,345,WOODHILL COMMUNICATION PTY LTD,62613694189,Woodhill Communication,,Cancelled,Status Note: Registration cancelled on 4/2/2021,Details Last Updated: 16 Feb 2021 / 12:00

In [4]:
pd.read_sql_query("select * from lobbyist_nsw_employee", cnx)

,id,lobbyist_nsw_id,postion,name,active,date_added
0,1,None,Director,Alistair Nicholas,1,06 Jan 2022
1,2,None,Director,Allan King,1,08 Dec 2016
2,3,None,CEO,Liza-Jayne Loch,1,25 Jan 2019
3,4,None,Director,Douglas Pye,1,01 Jun 2021
4,5,None,Senior Consultant,Amanda Parker,0,29 Sep 2016
...,...,...,...,...,...,...
1256,1257,None,Principal,Ken Macpherson,0,20 Jun 2018
1257,1258,None,Principal,Robert Borbidge AO,0,20 Jun 2018
1258,1259,None,Director,JoAnna Ferrari,0,29 Sep 2016
1259,1260,None,,Stephen Woodhill,1,29 Sep 2016
1260,1261,None,Director,Stephen Woodhill,1,30 Apr 2018

In [5]:
pd.read_sql_query("select * from lobbyist_nsw_client", cnx)

,id,lobbyist_nsw_id,name,abn,active,foreign_principal,countries,date_added
0,1,1,AUSTRALIA CHINA BUSINESS COUNCIL,57075909625,1,0,,06 Jan 2022
1,2,1,AUSTRALIAN FUNERAL DIRECTORS ASSOCIATION LTD,33007331580,1,0,,06 Jan 2022
2,3,1,INVOCARE LIMITED,42096437393,1,0,,06 Jan 2022
3,4,1,PARED LTD,40002343615,1,0,,06 Jan 2022
4,5,2,Genesis Care Finance Pty ltd,97137193125,1,0,,08 Dec 2016
...,...,...,...,...,...,...,...,...
4008,4009,345,PHILIP MORRIS (AUSTRALIA) LIMITED,68004316901,1,0,,08 Jan 2020
4009,4010,345,RED MEAT ADVISORY COUNCIL LIMITED,44083193891,0,0,,12 Feb 2020
4010,4011,345,RURALCO HOLDINGS LIMITED,40009660879,0,1,,30 Apr 2018
4011,4012,345,TERUMO AUSTRALIA PTY LIMITED,34158693595,0,1,,30 Apr 2018
4012,4013,345,The Trustee for THE BAKER FAMILY TRUST,64121040383,0,0,,11 Oct 2019

In [6]:
pd.read_sql_query("select * from lobbyist_nsw_owner", cnx)

      id lobbyist_nsw_id                                name  active
0      1            None                   Alistair Nicholas       1
1      2            None                         Xiao Qi Bao       1
2      3            None                          Allan King       1
3      4            None                          Karen King       0
4      5            None                     Liza-Jayne Loch       1
..   ...             ...                                 ...     ...
974  975            None  Martine Anne Newman Smail Woodhill       0
975  976            None                    Martine Woodhill       0
976  977            None        Stephen Mark Arthur Woodhill       1
977  978            None                    Martine Woodhill       1
978  979            None                    Stephen Woodhill       1

[979 rows x 4 columns]

In [7]:
pd.read_sql_query("select * from lobbyist_qld", cnx)

,id,name,abn,trading_name,last_updated
0,1,BBS Communications Group Pty Ltd,34010899779,BBS Communications Group Pty Ltd,12/07/2022
1,2,Candra Consulting Pty Ltd,26116275382,Candra Business Advisers,18/07/2022
2,3,Christopher Cleland Schacht,19927269400,Chris Schacht,19/10/2021
3,4,The Trustee for Consultum Trust,32844592574,Staerk Government and Media,01/08/2022
4,5,Essential Media Communications Pty Ltd,48074671462,Essential Media Communications,11/08/2022
...,...,...,...,...,...
125,126,The Civic Partnership Pty Ltd,71652574171,The Civic Partnership,03/08/2022
126,127,Advico Strategies Pty Ltd,52658982471,advico,05/07/2022
127,128,GR Connect Pty Ltd,40657487146,GR Connect Pty Ltd,01/07/2022
128,129,Test Only Pty Ltd,12345678910,Test Only,25/07/2022
129,130,The PR Counsel,27611490325,The PR Counsel Pty Ltd,21/07/2022

In [10]:
pd.read_sql_query("select * from lobbyist_qld_employee", cnx)

,id,lobbyist_qld_id,name,position,former_senior_gov_rep,cessation_date,associations
0,1,1,Sara Benallack,Account Manager,0,,
1,2,1,Gina Calder,Account Leader,0,,
2,3,1,Louise Cruice,Group Client Manager,0,,
3,4,1,Verity Dwan,Senior Consultant,0,,
4,5,1,Amanda Firth,Group Client Manager,0,,
...,...,...,...,...,...,...,...
318,319,125,Eamonn Fitzpatrick,Managing Director,1,09/07/2013,
319,320,127,Nino Lalic,Director,0,,
320,321,128,Lyndal Maloney,Director,0,,
321,322,129,Test1 Only,Administrator,0,,
322,323,130,Kristy McSweeney,Principal,1,,

In [12]:
pd.read_sql_query("select * from lobbyist_qld_client", cnx)

,id,lobbyist_qld_id,name,paid_services_provided,client_added,made_previous
0,1,1,Avanti Healthy Living,1,15/06/2022,
1,2,1,AVID Property Group,1,02/08/2016,
2,3,1,Cystic Fibrosis Qld Pty Ltd,1,22/01/2020,
3,4,1,GCB Constructions Pty Ltd,1,17/12/2020,
4,5,1,Geon Property,1,05/03/2018,
...,...,...,...,...,...,...
1085,1086,126,Vicinity Centres PM Pty Ltd,0,21/04/2022,12/08/2022
1086,1087,129,Test Client 2 Only,1,20/07/2022,
1087,1088,129,Test Client Only,0,20/07/2022,20/07/2022
1088,1089,130,Deliveroo Australia Pty Ltd,1,19/07/2022,
1089,1090,130,HCL,1,19/07/2022,

In [14]:
pd.read_sql_query("select * from lobbyist_qld_owner", cnx)

      id  lobbyist_qld_id                              name
0      1                1                      Jane Edwards
1      2                1                    Mrs Lisa Nixon
2      3                2                     Milin, Amanda
3      4                2                    Mr David Meale
4      5                3      The Honourable Chris Schacht
..   ...              ...                               ...
208  209              126                   Mrs Rora Furman
209  210              126  The Civic Group Holdings Pty Ltd
210  211              127         Advico Strategies Pty Ltd
211  212              128           Mrs Lyndal Anne Maloney
212  213              130            The PR Counsel Pty Ltd

[213 rows x 3 columns]

In [40]:
import sqlite3
cnx = sqlite3.connect('../data.db')
pd.read_sql_query("select * from lobbyist_sa", cnx)

Empty DataFrame
Columns: [business_name, trading_name, abn, web_address, address, suburb, state, post_code, name_of_owner(s)]
Index: []

In [4]:
from src.scrappers.LobbyistNswScrapper import *
import json
scrapper = LobbyistNswScrapper()
lobbyists = scrapper.get_lobbyists()

scrapper.populate_details(lobbyists[0])

for client in lobbyists[0].clients:
    print(f"{json.dumps(client.__dict__)}")


scrapper.close()

In [54]:
import json
for client in lobbyists[0].clients:
    print(f"{json.dumps(client.__dict__)}")

## Using Google to Search LinkedIn

In [15]:
#!pip install requests

In [20]:

import requests as re


from src.secrets import secrets as sc
import json

In [56]:
def custom_search(search_term, start = 1):
    custom_search_url = f"https://www.googleapis.com/customsearch/v1?key={sc.google_customsearch_api_key}&cx={sc.google_programmable_search_engine_id}&q={search_term}&start={start}"
    result = re.get(custom_search_url)
    return result.json()

def print_results(results):
    for item in results['items']:
        print(item['title'])
        print(item['link'])

This is what my profile link looks like:
https://www.linkedin.com/in/michael-gordon-b6698051/

In [73]:
mgordon_result = custom_search('"Michael Gordon" senior software LinkedIn', 21)
print_results(mgordon_result)

Sviatoslav Didukh - Associate Director, Experience Design - EPAM ...
https://ua.linkedin.com/in/sviatoslavdidukh
Michael Gordon | Harrison Street
https://www.harrisonst.com/leadership/michael-gordon/
Michael Gordon - Business Consultant - Self Employed | LinkedIn
https://tt.linkedin.com/in/michael-gordon-3b4a4723
Our Team - Group Gordon
https://groupgordon.com/people/
100+ perfiles de «Michael Gordon» | LinkedIn
https://bo.linkedin.com/pub/dir/Michael/Gordon/ca-0-Canada
Team | Angelo Gordon
https://www.angelogordon.com/team/
Michael Gordon - New Ireland Assurance - LinkedIn
https://ie.linkedin.com/in/michaelgordonmjg
NJDEP New Jersey Department of Environmental Protection
https://www.nj.gov/dep/easyaccess/commissoffice.htm
Amrita Samantasinghar - Software Engineer, Sr I - LinkedIn
https://in.linkedin.com/in/amrita-samantasinghar
Michael Gordon - Tshwane University of Technology - LinkedIn
https://za.linkedin.com/in/michael-gordon-b0831521

In [67]:
namin_result = custom_search('"Naeer Amin" LinkedIn')
print_results(namin_result)

Alyssa Clark - Administrative Coordinator - UPASS, HELPS - LinkedIn
https://au.linkedin.com/in/alyssa-clark-428588192
Jung Gyu Park - Software Engineer - SafetyCulture | LinkedIn
https://au.linkedin.com/in/jung-gyu-park-5b01a21b
Ciaran Cullen - Head of Talent - SafetyCulture | LinkedIn
https://au.linkedin.com/in/ciarancullen
Shuvra Sikder - Camden Council NSW Australia - LinkedIn
https://au.linkedin.com/in/shuvra-sikder-722126196
Anthony Muscat - Senior Frontend Developer - Pearson | LinkedIn
https://au.linkedin.com/in/anthony-muscat-b829676

In [68]:
schemweno_result = custom_search('"Sharon Chemweno" LinkedIn')
print_results(schemweno_result)

Sharon Chemweno - Ben-Gurion University of the Negev - LinkedIn
https://ke.linkedin.com/in/sharon-chemweno-b21b8517a
Ruth Cherogony - Project Intern - LinkedIn
https://il.linkedin.com/in/ruth-cherogony-749692234
100+ perfiles de «Chemweno» | LinkedIn
https://bo.linkedin.com/pub/dir/+/Chemweno/ke-0-Kenya
Jacob Maundu - Resolution Insurance Kenya - LinkedIn
https://ke.linkedin.com/in/jacob-maundu-5433a0173
Tania Acuna - Ben Gurion University of the Negev - LinkedIn
https://il.linkedin.com/in/tania-acuna-9a51a7b3
Beatrice Wambui - Case Manager - RefugePoint | LinkedIn
https://www.linkedin.com/in/beatrice-wambui-844855ba
Felecien NDAYISHIMIYE - WUA Technician - LinkedIn Rwanda
https://rw.linkedin.com/in/felecien-ndayishimiye-4a687a206
Jason Dorey - Director of Academics - CanGlory Education | LinkedIn
https://ca.linkedin.com/in/jason-dorey-b10308108
Pauline Ang'ang'o - Managing Editor - Genesis Tech | LinkedIn
https://hu.linkedin.com/in/pauline-ang-ang-o-194b55128
Mayumi Evangelista - Immersed in English - LinkedIn
https://ca.linkedin.com/in/mayumievangelista

In [69]:
gbohorquez_result = custom_search('"Gerardo Bohorquez Restrepo" LinkedIn')
print_results(gbohorquez_result)

Gerardo Restrepo - Senior Account Executive - LinkedIn
https://www.linkedin.com/in/gerardo-restrepo-7239757
Gerardo Restrepo - Professeur - Université de Sherbrooke | LinkedIn
https://ca.linkedin.com/in/gerardo-restrepo-675aa236
Gerardo Bohorquez - Colombia | Perfil profesional | LinkedIn
https://co.linkedin.com/in/gerardo-bohorquez-a7676290
40+ perfiles de «Bohorquez» | LinkedIn
https://bo.linkedin.com/pub/dir/+/Bohorquez/au-0-Australia
F5 group F5 group - Marketing Manager - F5 group | LinkedIn
https://co.linkedin.com/in/f5-group-f5-group-648a591b
Passiona Cottee - A/Director - LinkedIn
https://au.linkedin.com/in/passiona
Understanding Hierarchies using Dendrograms | by Yash Gupta ...
https://medium.com/dssimplified/understanding-hierarchies-using-dendrograms-e3aef7ac5ea4